html {
  font-family: sans-serif;
}
body {
  background-color: lightgoldenrodyellow;
}
header {
  background-color: black;
  height: 130px;
  position: relative;
}
h1, nav, header ul li {
  display: inline-block;
}
h1 {
  position: absolute;
  color: white;
  border: 5px solid white;
  box-shadow: 5px 5px white;
  padding: 20px;
  margin-left: 10px;
}
nav {
  float: right;
  margin-right: 15px;
  margin-top: 50px;
}
header ul {
  margin-top: 30px;
}
header ul li{
  transform: skew(20deg);
}
header ul li a {
  color: white;
  border: 3px solid white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 10px;
  transition: 0.5s;
}
header ul li a:hover {
  box-shadow: 5px 5px white;
  padding: 20px 20px;
}
.about {
  background-color: #e84545;
}
.about-info {
  width: 80%;
  box-sizing: border-box;
  margin: 15px auto 15px auto;
  background-color: #e3fdfd;
  border: 3px solid #48466d;
  border-radius: 20px;
}
.about-info ul, .about-info p {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.5em;
  line-height: 2em;
  color: #48466d;
}
.about-info h2 {
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  color: #48466d;
}
.about-info a {
  color: #e84545;
}
.resume-ad {
  font-size: 1.5em;
  line-height: 2em;
  width: 80%;
  display: block;
  box-sizing: border-box;
  margin: 15px auto 15px auto;
  background-color: #fcbad3;
  border: 3px solid #aa96da;
  border-radius: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.resume-ad:hover {
  width: 85%;
    box-shadow: 5px 5px #aa96da;
}
