html {
  font-family: sans-serif;
}
body {
  background-color: lightgoldenrodyellow;
}
header {
  background-color: black;
  height: 130px;
  position: relative;
}
h1, nav, header ul li {
  display: inline-block;
}
h1 {
  position: absolute;
  color: white;
  border: 5px solid white;
  box-shadow: 5px 5px white;
  padding: 20px;
  margin-left: 10px;
}
nav {
  float: right;
  margin-right: 15px;
  margin-top: 50px;
}
nav ul {
  margin-top: 30px;
}
header ul li{
  transform: skew(20deg);
}
header ul li a {
  color: white;
  border: 3px solid white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 10px;
  transition: 0.5s;
}
header ul li a:hover {
  box-shadow: 5px 5px white;
  padding: 20px 20px;
}
.info {
  width: 80%;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #2b2e4a;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid #e84545;
  border-radius: 20px;
}
.info img {
  border-radius: 50%;
  border: 3px solid #e84545;
  display: block;
  margin: 0 auto;
}
.info a {
  text-decoration: none;
  color: #e84545;
}
.info a:hover {
  text-decoration: underline;
  text-decoration-style: double;

}
.info p {
  line-height: 1.8em;
  text-align: center;
  color: white;
}
.wrapper {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  width: 85%;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #2b2e4a;
  border: 3px solid #e84545;
  border-radius: 20px;
  transition: 0.5s;
}
.wrapper:hover {
  width: 90%;
  box-shadow: 5px 5px #e84545;
}
.preview-about h2 {
  font-size: 1.5em;
  padding-left: 20px;
}
.preview-about div {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
}
.preview-about img{
  display: inline-block;
  width: 250px;
  float: left;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.preview-about ul {
  width: 200px;
}
